asgiref==3.8.1
blinker==1.9.0
certifi==2024.8.30
charset-normalizer==2.0.12
click==8.1.7
distlib==0.3.8
Django==5.1.1
filelock==3.16.0
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
git-filter-repo==2.47.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
mysql-connector-python==9.0.0
numpy==2.2.0
pandas==2.2.3
platformdirs==4.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
requests==2.27.1
six==1.17.0
SQLAlchemy==2.0.36
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
virtualenv==20.26.4
Werkzeug==3.1.3
